<h1>Dzień dobry</h1>

<p>

    Twoje konto zostało założone w gabinecie stomatologicznym.

    {% if password is defined %}
    Możesz zalogować się używająć hasła: <b>{{ password }}</b>
    {% endif %}
</p>

<p>
    Pozdrawiamy!
</p>
