{% extends 'base.html.twig' %}

{% block title %}Nowy harmonogram{% endblock %}

{% block body %}
    <h1>Dodaj nowy harmonogram</h1>
    <br />

    {{ include('department/_form.html.twig') }}

{% endblock %}
